:root {
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f5f5;
  --tertiary-white-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-black-color: #757575;
  --secondary-black-color: #212121;
  --logo-black-color: #000000;
  --footer-color: #2f303a;
  --footer-color-text: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --underline-header-color: #ececec;
}

body {
  color: var(--primary-black-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  height: 80px;
  margin: 0;
  border-bottom: 1px solid var(--underline-header-color);
}

.main-logo {
  color: var(--logo-black-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.main-logo span {
  color: var(--accent-color);
}

.site-nav {
  color: var(--secondary-black-color);
  font-weight: 500;
  line-height: 1.17;
  margin-top: 0px;
  padding-top: 0px;
  position: absolute;
  width: 281px;
  height: 16px;
  left: 453px;
  top: 32px;
  display: flex;
  justify-content: space-between;
}

.site-nav .link:visited {
  color: var(--secondary-black-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}

.contact-nav a {
  color: inherit;
  font-weight: 500;
  line-height: 1.17;
}

.contact-nav {
  margin-top: 0px;
  padding-top: 0px;
  position: absolute;
  left: 1078px;
  top: 32px;
  right: 215px;
  width: 307px;
  display: flex;
  justify-content: space-between;
}

.contact-nav .link:hover,
.contact-nav .link:focus,
.contact-nav .link:active {
  color: var(--accent-color);
}

/* Hero */

.hero {
  color: var(--primary-white-color);
  width: 1600px;
  height: 600px;
  margin: 0px;
  padding: 0px;
  /* position: relative;
  top: 0px;
  right: 10px; */
  background-color: var(--footer-color);
}

.button {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
}

.welcome-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-title h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Features */

.features h2 {
  color: var(--secondary-black-color);
  font-size: 14px;
  line-height: 1.17;
}

.features li {
  flex: 0 1 270px;
}

.features {
  margin: 94px 215px;
  width: 1170px;
  height: 98px;
}

.features .list {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

/* What we do */

.doing {
  margin: 0 215px 94px 215px;
  padding: 0;
  width: 1170px;
}

.doing h2,
.team h2 {
  color: var(--secondary-black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0;
}

.doing .list {
  display: flex;
  justify-content: space-between;
}

/* Our team */

.team {
  background-color: var(--tertiary-white-color);
  padding-bottom: 94px;
  width: 1600px;
}

.team h2 {
  padding-top: 94px;
}

.team .list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 215px 0 215px;
}

.team h3 {
  color: var(--secondary-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team p {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.card {
  background-color: var(--primary-white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* Footer */

.footer {
  background-color: var(--footer-color);
  padding: 0;
  margin: 0;
  width: 1600px;
  height: 252px;
  box-sizing: border-box;
  position: relative;
}

.foot-nav li:nth-child(2) {
  padding: 0;
  margin: 9px 0 9px 0;
}

.footer-logo {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 215px;
}

.footer-logo span {
  color: var(--accent-color);
}

.foot-nav {
  position: absolute;
  left: 215px;
  bottom: 60px;
}

.foot-nav .address {
  color: var(--primary-white-color);
  font-style: normal;
}

.foot-nav .contact {
  color: var(--footer-color-text);
  font-style: normal;
}

/* Portfolio */

.filter {
  /* position: relative; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-input {
  appearance: none;
  /* position: absolute; */
}

.filter label {
  color: var(--secondary-black-color);
  background-color: var(--tertiary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
}

.filter label:hover,
.filter label:focus,
.filter-input:checked + .filter-label {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  padding: 6px 22px;
}

.project h2 {
  color: var(--secondary-black-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
}

.project p {
  font-size: 16px;
  line-height: 1.88;
  margin: 4px 0 0 0;
  padding: 0;
}

.card-caption {
  margin: 20px 24px;
}

.project li {
  border: 1px solid var(--border-color);
  margin-top: 30px;
  height: 404px;
}

.portfolio {
  width: 1170px;
  height: 1360px;
  padding: 0;
  margin: 94px 215px 94px 215px;
}

.project {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  /* align-content: space-between; */
}
